<img class="titleCenter" src="../img/title.png" alt="Un Diner Plus Que Parfait">
<br>
<hr class="soften">
<br><br>
<div class="container-fluid">
	<div class="row marge">
		<div class="col-md-offset-1 col-md-10">
			<h1>Ajouter un nouvel ami</h1><br>
			<form class="form-inline">
				<div class="form-group">
					<div class="nom" ng-show="i==0">
						<input type="text" class="form-control" id="inputMessage" placeholder="Nom" ng-model="name" >
					</div>
				</div>
				<div class="form-group">
					<div class="allergy" ng-show="i==1">
						<input type="text" class="form-control" id="inputMessage" placeholder="Allergie" ng-model="allergy">
					</div>
				</div>

				<div class="form-group">
					<div class="food" ng-show="i==2">
						<input type="text" class="form-control" id="inputMessage" placeholder="Aliment à proscrire" ng-model="hated">
					</div>
				</div>
				<button type="submit" class="btn btn-default glyphicon glyphicon-arrow-left" disabled="disabled" ng-click="precedent(i)" ng-show="i==0"></button>
				<button type="submit" class="btn btn-default glyphicon glyphicon-arrow-left" ng-click="precedent(i)" ng-show="i>0 && i<=3"></button>
				<button type="submit" class="btn btn-default glyphicon glyphicon-arrow-right" ng-click="suivant(i)" ng-show="i<2"></button>
				<button type="submit" class="btn btn-default glyphicon glyphicon-ok" ng-click="add()" ng-show="i==2"></button>
				<span  class="white">{{nameMessage}}<span>

			</form>
		</div>
	</div>
	<br>
	<hr class="soften">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-1 col-md-10 col-md-offset-1">
				<h1>{{title}}</h1>
				<div class="table-responsive">
					<table class="table table-striped transparent">
						<thead>
							<tr>
								<th>NOM</th>
								<th>ALLERGIE</th>
								<th>ALIMENT A PROSCRIRE</th>
								<th></th>
							</tr>
						</thead>
						<tbody ng-repeat="guest in guests">
							<tr>
								<td>
									<input type="text" class="form-control" id="inputName" ng-model="guest.name">
								</td>
								<td>
									<input type="text" class="form-control" id="inputAllergy" ng-model="guest.allergy">
								</td>
								<td>
									<input type="text" class="form-control" id="inputHated" ng-model="guest.hated">
								</td>
								<td>
									<div class="pull-right">
										<button type="submit" class="btn btn-info glyphicon glyphicon-ok" ng-click="update(guest)"></button>
										<button type="submit" class="btn btn-danger glyphicon glyphicon-remove-sign" ng-click="delete(guest)"></button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>