<img class="titleCenter" src="../img/title.png" alt="Un Diner Plus Que Parfait">
<br>
<hr class="soften">
<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">			
			<ul class="list-group transparent">
				<h1>Mes amis</h1><br>
				<li class="list-group-item" ng-repeat="guest in guests">
					<form class="form-inline">
						<div class="form-group">
							<input type="checkbox" ng-model="guest.select" ng-click="clickselect(guest)">
							{{guest.name}}
						</div>
					</form>
				</li>
			</ul>
		</div>

	<div class="hover08 column col-md-4">	
			<figure><img src="../img/caro.jpg" /></figure>
	</div>
		
		<div class="col-md-4">
			<ul class="list-group transparent">
				<h1>Plats possibles</h1><br>
				<li class="list-group-item" ng-repeat="dish in dishs|filter:{trusty:true}">
					<form class="form-inline">
						<div class="form-group">
							{{dish.meal}}
						</div>
					</form>
				</li>
			</ul>
		</div>
	</div>
</div>
