@font-face {
	font-family: "ma_police";
	src: url("font/forgotten_futurist_rg.ttf");
}

body {
	padding-top: 70px;
	background-image: url();
}
#logo {
	margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1100px;
	
}
.page-header {
	font-size: 2.5em;
	font-weight: bold;
	color: #fff;
	background-color: #22A7F0;
	font-family: "forgotten_futurist_rg", serif;
	padding-left: 25px;
	padding-top: 10px;
	border-radius: 5px;
}

.navbar-border {
	border-bottom: 3px solid #22A7F0;
}

.navbar-header img {
	width: 50px;
	height: 50px;
}



.titleCenter img {
	transition: 0.4s;
}
.titleCenter img:hover {
	transform: rotate(360deg);
}

.white {
	color: white;
}

.transparent li {
	background-color: transparent;
	color: white;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: transparent;
}



#inputLieu {
	margin-top: 50px;
	width: 200px;
}